// お問い合わせページ
.contact-page__mainview {
  background-image: url(../images/common/contact-mv-sp.jpg);
  @include mq("md") {
    background-image: url(../images/common/contact-mv.jpg);
  }
}
.contact-page__breadcrumbs {
  margin-top: rem(16);
}