.works-detail__main {
  background: $black;
}
.works-detail__main-title {
  max-width: rem(640);
  width: 100%;
  margin: rem(78) auto 0 auto;
  padding: 0 rem(20);
}
.works-detail__main-title__top {
  font-size: rem(20);
  font-weight: 400;
  color: $white;
  line-height: rem(35);
  letter-spacing: rem(0.4);
}
.works-detail__main-title__under {
  display: flex;
  align-items: center;
  margin-top: rem(16);
}
.works-detail__main-date {
  font-size: rem(16);
  font-weight: 400;
  color: $white;
  letter-spacing: rem(0.4);
  padding-right: rem(30);
}
.works-detail__main-tag {
  font-size: rem(16);
  font-weight: 400;
  color: $white;
  letter-spacing: rem(0.4);
  border: 1px solid $white;
  padding: rem(8.5) rem(20);
}
.works-detail__text-inner {
  max-width: rem(640);
  width: 100%;
  margin: 0 auto;
  padding: 0 rem(20);
}
.works-detail__text-box {
  position: relative;
  border: 1px solid $white;
  margin-bottom: rem(54);
}
.works-detail__text-box:last-child {
  margin-bottom: 0;
}
.works-detail__text-tag {
  position: absolute;
  border: 1px solid $white;
  border-radius: rem(25);
  color: $white;
  background: $black;
  font-size: rem(20);
  font-weight: 400;
  letter-spacing: rem(0.4);
  padding: rem(8.5) rem(24);
  top: -25px;
  left: 24px;
}
.works-detail__text {
  color: $white;
  font-size: rem(16);
  font-weight: 400;
  letter-spacing: rem(0.4);
  line-height: rem(35);
  padding: rem(56) rem(10) rem(33) rem(10);
}
.works-detail__recommend {
  max-width: rem(640);
  width: 100%;
  padding: 0 rem(20);
  margin: rem(120) auto 0 auto;
}
.works-detail__recommend-title {
  display: block;
  width: 100%;
  padding: rem(9.5) 0;
  text-align: center;
  color: $white;
  font-size: rem(16);
  font-weight: 400;
  letter-spacing: rem(2);
  border: 1px solid $white;
}

@media screen and (min-width: 768px) {
  .works-detail__main-title__top {
    font-size: rem(23);
    font-weight: 500;
  }
  .blog-detail__inner {
    max-width: rem(850);
    width: 100%;
    margin: rem(91) auto 0 auto;
    padding: 0 rem(25);
  }
  .works-detail__main-title {
    max-width: rem(850);
    width: 100%;
    padding: 0;
  }
  .works-detail__main-title__under {
    margin-top: rem(32);
  }
  .works-detail__text {
    padding: rem(43) rem(22) rem(32) rem(23);

  }
  .works-detail__text-inner {
    max-width: rem(850);
    width: 100%;
    padding: 0;

  }
  .works-detail__recommend {
    max-width: rem(1150);
    width: 100%;
    padding: 0 rem(25);
  }
  .works-detail__recommend-title {
    background-color: #333;
  }
  .works-detail__recommend-inner {
    margin-top: rem(80);
    display: flex;
  }

  











}
