.cat-list {
  display: flex;
  flex-wrap: wrap;
  max-width: rem(640);
  width: 100%;
  padding: 0 rem(20);
  align-items: center;
  @include mq("md") {
    display: flex;
    flex-wrap: wrap;
    max-width: rem(1150);
    width: 100%;
    padding: 0 rem(25);
    align-items: center;
  }
}
.cat__list-item--active {
  font-size: rem(16);
  font-weight: 400;
  color: #333;
  padding: rem(3) rem(8);
  background: $white;
  letter-spacing: rem(2);
  margin-right: rem(24);
  @include mq("md") {
      
  }
}
.cat__list-item {
  font-size: rem(16);
  font-weight: 400;
  color: #fff;
  letter-spacing: rem(2);
  margin-right: rem(24);
  line-height: rem(38);
  @include mq("md") {
      
  }
}
.cat__list-item:last-child {
  margin-right: 0;
  margin-bottom: 0;
  @include mq("md") {
      
  }
}