.detail-title {

}
.detail-title__main {
  font-size: rem(20);
  font-weight: 400;
  color: $white;
  line-height: rem(35);
  letter-spacing: rem(0.4);
  @include mq("md") {
    font-size: rem(23);
    font-weight: 500;
  }
}