// スライダー
.slider {
  width: 100%;
  @include mq("md") {
    max-width: rem(557);
    width: 100%;
    margin-right: rem(32);
  }
}
.slider-container {
  width: 100%;
  padding-top: 69.83842%; //比率
  position: relative;
}
.slider-main {
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}
.slider-main * {
  width: 100%;
  height: 100%;
}
.slider img {
  object-fit: cover;
}

// ドット調整
.slick-dots {
  height: rem(60);
  bottom: 0;
  z-index: 13;
  @include mq("md") {
    height: rem(50);
  }
}
.slick-dots li {
  width: rem(6);
  height: rem(6);
  padding-right: rem(12);
}
.slick-dots li:last-child {
  padding-right: 0;
}
.slick-dots li button {
  width: rem(6);
  height: rem(6);
}
.slick-dots li button:before {
  width: rem(6);
  height: rem(6);
  font-size: rem(6);
  color: #c4c4c4;
  opacity: 1;
}
.slick-dots li.slick-active button:before {
  color: #f9f871;
}